body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
     margin-top: 2em;
     max-width: 1200px;
     margin-left: auto;
     margin-right: auto;
  }
  
  .form-control, .btn {
  margin-top: 10px;
}

.hidden{
  display: none;
}

input {
  margin-bottom: 10px;
}